Source: netrunner-zeronet-tor-settings
Section: unknown
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/netrunner-zeronet/netrunner-zeronet-desktop-settings

Package: netrunner-zeronet-tor-settings
Architecture: any
Replaces: tor
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: netrunner tor specific settings
 This package contains settings that are specific to tor for Netrunner
